a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1214px;
    margin: 0 auto;
    position: relative;
}
.header {
    padding-top: 10px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 28px;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        list-style-type: none;
        &__item {
            margin-right: 40px;
            cursor: pointer;
            a {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-decoration: none;
                color: black;
            }
        }
    }
}

.main {
    padding-top: 60px;
    width: 100%;
    position: relative;
    &__about {
        position: relative;
        display: flex;
    }
    &__left {
        width: 50%;
        color: black;
        &-color {
            color: #ff8a56;
        }
    }
    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 82px;
        letter-spacing: 2px;
    }

    &__desc {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: #666666;
    }
    &__btnWrap {
        display: flex;
        align-items: center;
        margin-top: 38px;
    }
    &__btn {
        display: block;
        padding: 17px 30px;
        margin-right: 40px;
        cursor: pointer;
        color: black;
        transition-duration: 0.5s;
        a {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
        }
    }
    &__btn:hover {
        color: white;
        background-color: black;
    }

    &__right {
        width: 50%;
        position: relative;
    }
    .profil__img {
        margin: 0 auto;
        position: relative;
        width: 500px;
        height: 595px;
        display: block;
        background: url(../images/portfolio.png);
        background-repeat: no-repeat;
    }
    .trusted-by {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        &__title {
            text-align: center;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
        }
        &__list {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin-top: 45px;
        }
        &__item {
            margin-right: 100px;
            list-style-type: none;
            width: 141px;
            height: 32px;
            img {
                width: 141px;
                height: 32px;
            }
        }
        &__item:last-child {
            margin-right: 0;
        }
    }
    .services {
        position: relative;
        margin: 0 auto;
        &__sub-title {
            position: relative;
            text-align: center;
            display: block;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 22px;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #ff5e69;
            margin-top: 156px;
            margin-bottom: 20px;
        }
        &__title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 54px;
            line-height: 59px;
            text-align: center;
            letter-spacing: 1px;
            color: #000000;
            text-align: center;
            max-width: 770px;
            margin: 0 auto;
        }
        &__content {
            padding-top: 115px;
            position: relative;
        }
        &__list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
        &__item {
            max-width: 285px;
        }
        &__item-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            color: #000000;
            margin: 0;
        }
        &__item-desc {
            padding-top: 25px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #666666;
            margin: 0;
        }
        &__items {
            display: flex;
            flex-direction: column;
            padding-top: 21px;
            position: relative;
        }
        &__items-item {
            list-style-type: square;
            position: relative;
            margin-left: 15px;
            margin-bottom: 10px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
        }
    }
    .projects {
        position: relative;
        display: block;
        padding-top: 167px;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__header-left {
            min-width: 50%;
        }
        &__sub-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 22px;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #b16cea;
        }
        &__title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 54px;
            line-height: 59px;
            letter-spacing: 1px;
            color: #000000;
        }
        &__header-right {
        }
        &__view-btn {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
           color: #ffffff;
           background-color: black;
           padding: 17px 33px;
           cursor: pointer;
        }
        &__carusel {
        }
        &__list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
        &__item {
            width: 486px;
            padding-left: 6px;
            padding-right: 6px;
        }
        &__img {
            width: 100%;
            height: 305px;
        }
        &__list-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #3c46ff;
            padding-left: 32px;
            padding-top: 33px;
        }
        &__list-subtitle {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 26px;
            color: #000000;
            padding-left: 32px;
        }
        &__list-btn {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            color: #000000;
            padding-left: 32px;
            padding-bottom: 35px;
        }
        &__carusel-bottom{
            position:absolute;
            display: flex;
            right: 112px;
            
        }
        &__carusel-btn{
            margin-left: 7px;
            padding: 19px 22px;
            background-color: white;
            border: solid 1px black;
            font-size: 18px;
            font-weight: 1000;
        }
    }
}
