html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
p,
body {
  padding: 0;
  margin: 0;
}

.wrapper__max-width {
  max-width: 1214px;
  margin: 0 auto;
  position: relative;
}

#show {
  display: block;
}

#nav-full-screen {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__header-left {
  max-width: 50%;
}

.section__sub-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #b16cea;
  margin-top: 0;
  margin-bottom: 0;
}

.section__title {
  font-family: "Roboto";
  font-style: normal;
  color: #000000;
  font-weight: 600;
  font-size: 52px;
  line-height: 50px;
  letter-spacing: 1px;
}

.logo {
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
  max-width: 244px;
}

.logo::after {
  content: "";
  width: 3px;
  height: 3px;
  background: linear-gradient(89.94deg, #b16cea -21.68%, #ff5e69 47.38%, #ff8a56 99.43%, #ffa84b 132.45%);
  position: absolute;
  bottom: 4px;
  right: -6px;
}

.header {
  padding-top: 44px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-mini {
  display: none;
}

.header__nav-close {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__list__item {
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}

.header__list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.header__list__item:hover::after {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff8a56), to(#ef5b0c));
  background: linear-gradient(to right, #ff8a56 0%, #ef5b0c 100%);
}

.header__list__item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

.main {
  padding-top: 60px;
  width: 100%;
  position: relative;
}

.main__about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.main__left-color {
  color: #ff8a56;
}

.main__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 2px;
}

.main__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #666666;
}

.main__btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
}

.main__btn {
  display: block;
  padding: 17px 30px;
  margin-right: 40px;
  cursor: pointer;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.main__btn a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.main__btn:hover {
  color: white;
  background-color: black;
}

.main__right {
  width: 50%;
  position: relative;
}

.main .profil__img-image {
  margin: 0 auto;
  display: block;
  height: 100%;
}

.main .trusted-by {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .trusted-by__title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
}

.main .trusted-by .wrp-trusted-by__list {
  position: relative;
}

.main .trusted-by__list {
  position: absolute;
  left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  -webkit-transform: translate(1px, 0);
          transform: translate(1px, 0);
  -webkit-transition: -webkit-transform 2s ease-out 1.5s;
  transition: -webkit-transform 2s ease-out 1.5s;
  transition: transform 2s ease-out 1.5s;
  transition: transform 2s ease-out 1.5s, -webkit-transform 2s ease-out 1.5s;
}

.main .trusted-by__item {
  list-style-type: none;
}

.main .trusted-by__item img {
  width: 141px;
  height: 32px;
}

.main .services {
  position: relative;
  margin: 0 auto;
}

.main .services__sub-title {
  position: relative;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #ff5e69;
  margin-top: 156px;
  margin-bottom: 20px;
}

.main .services__title {
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
}

.main .services__content {
  padding-top: 115px;
  position: relative;
}

.main .services__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .services__item {
  max-width: 285px;
}

.main .services__item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.main .services__item-desc {
  padding-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  margin: 0;
}

.main .services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 21px;
  position: relative;
}

.main .services__items-item {
  list-style-type: square;
  position: relative;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.main .projects {
  z-index: 5;
  position: relative;
  display: block;
  padding-top: 120px;
}

.main .projects__list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.main .projects__item {
  width: 486px;
  background-color: white;
  margin-right: 24px;
}

.main .projects__img {
  width: 100%;
  height: 305px;
}

.main .projects__list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #3c46ff;
  padding-left: 32px;
  padding-top: 33px;
  margin: 0;
}

.main .projects__list-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-left: 32px;
  margin-top: 17px;
  margin-bottom: 19px;
}

.main .projects__list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding-left: 32px;
  padding-bottom: 35px;
}

.main .projects__list-btn svg {
  margin-left: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.main .projects__list-btn:hover svg {
  margin-left: 14px;
}

.main .projects__carusel {
  overflow: hidden;
}

.main .projects__carusel-bottom {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 112px;
}

.main .projects__carusel-btn {
  margin-top: 26px;
  margin-left: 7px;
  padding: 19px 22px;
  background-color: white;
  border: solid 1px black;
  font-size: 18px;
  font-weight: 1000;
}

.main .projects__carusel-btn img {
  width: 15px;
  height: 15px;
}

.main .projects .btn-left img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main .blogs {
  z-index: 1;
  color: white;
}

.main .blogs__wrapper {
  background-color: black;
  width: 100%;
  margin-top: -200px;
  margin-bottom: -144px;
  padding-top: 320px;
}

.main .blogs__sub-title {
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  color: #ffa84b;
  margin-top: 0;
}

.main .blogs__title {
  color: #ffffff;
}

.main .blogs__btn-view {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  color: inherit;
}

.main .blogs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .blogs__left {
  position: relative;
  width: 40%;
}

.main .blogs__right {
  position: relative;
  width: 60%;
  padding-top: 20px;
}

.main .blogs__list {
  list-style-type: none;
  padding-bottom: 144px;
}

.main .blogs__item {
  position: relative;
  list-style-type: none;
  margin-top: 65px;
}

.main .blogs__item:first-child {
  margin-top: 0;
}

.main .blogs__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -35px;
  background-color: rgba(255, 255, 255, 0.3);
}

.main .blogs__date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height, or 107% */
  color: rgba(255, 255, 255, 0.7);
}

.main .blogs__time {
  margin-left: 3px;
}

.main .blogs__article {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 0;
  cursor: pointer;
}

.wrap__btn-view {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrap__btn-view svg {
  margin-left: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.wrap__btn-view:hover svg {
  margin-left: 14px;
}

.products {
  margin-top: 226px;
}

.products__color {
  color: #ff5e69;
}

.products__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .section__header-right {
  max-width: 50%;
}

.products__header-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 160%;
  color: #666666;
}

.products__album {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28% 1fr 28%;
      grid-template-columns: 28% 1fr 28%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.products__album-box1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
}

.products__album-box1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__album-box2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
}

.products__album-box2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__album-box3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  z-index: 2;
}

.products__album-box3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__album-box4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  z-index: 2;
}

.products__album-box4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.experiance__list {
  max-width: 583;
  list-style-type: none;
}

.experiance__list-inner {
  width: 50%;
}

.experiance__list-inner:first-child {
  padding-right: 24px;
}

.experiance__list-inner:last-child {
  padding-left: 24px;
}

.experiance__item-wrapp {
  margin-left: 20px;
  width: 100%;
  padding-bottom: 30px;
}

.experiance__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experiance__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experiance__item {
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.experiance__item:first-child {
  padding-top: 0px;
}

.experiance__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.experiance__item-container {
  padding-bottom: 30px;
}

.experiance__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experiance__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.experiance__item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.experiance__item-description {
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.experiance__item-date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 54px;
}

.testimonials {
  margin-top: 190px;
  margin-bottom: 150px;
}

.testimonials__left {
  width: 50%;
}

.testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials__color {
  color: #4353ff;
}

.testimonials__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.testimonials__right {
  max-width: 586px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 146px;
}

.testimonials__right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  padding: 32px 0 100px;
}

.testimonials__fullname {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}

.testimonials__job-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.testimonials__button {
  border: none;
  background-color: #000000;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.testimonials__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.testimonials__carousel-inner {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#testimonials__button2 svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq {
  background-color: #000000;
  padding-top: 78px;
  color: #ffffff;
}

.faq__header {
  margin: 0 auto;
  text-align: center;
}

.faq__color-title {
  color: #ffffff;
}

.faq__color {
  color: #ff8a56;
}

.faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq__list {
  width: 48%;
  margin-top: 100px;
  list-style-type: none;
}

.faq__item {
  margin-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: relative;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.faq__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.faq__item::after {
  content: "";
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 49px;
  background-color: rgba(229, 229, 229, 0.3);
}

.faq__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq__item-content {
  display: none;
  font-weight: 300;
  font-size: 16px;
  padding-top: 25px;
}

.contacts {
  padding-top: 249px;
  background-color: #000000;
}

.contacts__sub-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}

.contacts__color {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 1px;
  text-transform: inherit;
  color: #ffffff;
}

.contacts__color-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 0.5px;
  color: #3c46ff;
}

.contacts__main {
  margin-top: 95px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__address {
  color: #5c5c5c;
}

.contacts__full-name {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  position: relative;
  max-width: 244px;
}

.contacts__full-name::after {
  content: "";
  width: 3px;
  height: 3px;
  background: linear-gradient(89.94deg, #b16cea -21.68%, #ff5e69 47.38%, #ff8a56 99.43%, #ffa84b 132.45%);
  position: absolute;
  bottom: 3px;
  right: 0px;
}

.contacts__full-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  margin-top: 17px;
  margin-bottom: 10px;
}

.contacts__email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__email svg {
  margin-right: 5px;
}

.contacts__links {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__list {
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  height: 100%;
  margin-right: 100px;
}

.contacts__item a {
  position: relative;
}

.contacts__item a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.contacts__item a:hover::after {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff8a56), to(#ef5b0c));
  background: linear-gradient(to right, #ff8a56 0%, #ef5b0c 100%);
}

.contacts__item {
  margin-bottom: 40px;
}

.contacts__item:last-child {
  margin-bottom: 0px;
}

.footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: -1px;
  color: #8a95ad;
  background-color: #000000;
  padding-bottom: 20px;
}

@media screen and (max-device-width: 1280px) {
  .wrapper__max-width {
    width: 90vw;
  }
  .main__title {
    font-size: 45px;
    line-height: 45px;
  }
  .main__desc {
    font-size: 20px;
    line-height: 33px;
  }
}

@media screen and (max-device-width: 1024px) {
  .logo {
    font-size: 20px;
  }
  .logo::after {
    bottom: 7px;
  }
  .header__list__item {
    margin-right: 24px;
  }
  .header__list__item:last-child {
    margin-right: 0px;
  }
  .header__list__item a {
    font-size: 13px;
  }
  .main .profil__img img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .main__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 35px;
  }
  .main__btnWrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__btn {
    border: 1px solid black;
    margin-right: 0;
    padding: 10px 20px;
  }
  .main__btn a {
    font-size: 14px;
    line-height: 10px;
  }
  .main__desc {
    font-size: 16px;
    line-height: 1.6;
  }
  .main .blogs__article {
    font-size: 17px;
    line-height: 29px;
  }
  .main .blogs__left {
    width: 30%;
  }
  .main .blogs__right {
    width: 70%;
    padding-left: 10px;
  }
  .main .blogs__btn-view {
    font-size: 15px;
  }
  .main .wrap__btn-view {
    margin: 20px 0;
  }
  .main .experiance__item-date {
    font-size: 13px;
  }
  .main .experiance__item-description {
    font-size: 13px;
  }
  .main .experiance__item-title {
    font-size: 19px;
  }
  .main .experiance__title {
    font-size: 29px;
    margin-bottom: 39px;
  }
  .main .trusted-by__item img {
    width: 20vw;
  }
  .main .services__content {
    padding-top: 60px;
  }
  .main .services__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .services__item:last-child {
    padding-right: 0;
  }
  .main .services__item:first-child {
    padding-left: 0;
  }
  .main .services__item-title {
    font-size: 18px;
  }
  .main .services__item-desc {
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .main .services__items-item {
    font-size: 14px;
    line-height: 15px;
  }
  .section__title,
  .services__title,
  .blogs__title {
    font-size: 30px;
  }
  .section__sub-title {
    font-size: 18px;
  }
  .faq__item {
    font-size: 20px;
  }
  .faq__item::after {
    margin-top: 28px;
  }
}

@media screen and (max-device-width: 768px) {
  .header__device-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    display: none;
  }
  .header__nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
  }
  .header__nav svg {
    width: 50px;
    height: 50px;
  }
  .header__nav-close {
    position: absolute;
    right: -3px;
    top: -10px;
  }
  .header__nav-mini {
    cursor: pointer;
    display: none;
  }
  .header__nav-mini span {
    background-color: #212529;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    display: block;
  }
  .header__nav-mini span:last-child {
    margin-bottom: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }
  .header__list__item {
    margin-right: 0;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  .main {
    padding-top: 25px;
  }
  .main__title {
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .main__desc {
    font-size: 15px;
    line-height: 18px;
  }
  .main__btn {
    padding: 5px 15px;
  }
  .main__btnWrap {
    margin-top: 20px;
  }
}

@media screen and (max-device-width: 715px) {
  .products__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__header .section__header-left,
  .products__header .section__header-right {
    max-width: 90vw;
  }
  .testimonials__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
    text-align: center;
  }
  .testimonials__left {
    width: 100%;
  }
  .testimonials__right {
    margin-left: 0;
  }
}

@media screen and (max-device-width: 630px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    display: none;
  }
  .header__nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
  }
  .header__nav svg {
    width: 50px;
    height: 50px;
  }
  .header__nav-close {
    position: absolute;
    right: -3px;
    top: -10px;
  }
  .header__nav-mini {
    cursor: pointer;
    display: none;
  }
  .header__nav-mini span {
    background-color: #212529;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    display: block;
  }
  .header__nav-mini span:last-child {
    margin-bottom: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }
  .header__list__item {
    margin-right: 0;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  .main__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__right {
    width: 100%;
  }
  .main__left {
    width: 100%;
    text-align: center;
  }
  .main__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main__btnWrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__btn {
    border: 1px solid black;
    margin-right: 0;
  }
  .main__btn a {
    font-size: 14px;
    line-height: 10px;
  }
  .main__desc {
    font-size: 16px;
    line-height: 1.6;
  }
  .main .trusted-by__title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .main .trusted-by__list {
    margin-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .trusted-by__item {
    margin-right: 0;
  }
  .main .services__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main .services__sub-title {
    margin-top: 80px;
  }
  .main .services__content {
    padding-top: 37px;
  }
  .main .services__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .services__item {
    position: relative;
    padding: 10px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .services__item-left {
    max-width: 50%;
  }
  .main .services__item::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #666666;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .main .services__item-title {
    font-size: 16px;
    line-height: 1.6;
  }
  .main .services__item-desc {
    padding-top: 5px;
  }
  .main .services__items {
    padding-top: 5px;
    width: 40%;
  }
  .main .services__items-items {
    margin-left: 15px;
    min-width: 177px;
  }
  .main .services__items-item {
    width: 100%;
  }
  .main .projects__carusel {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .main .projects__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .main .projects__sub-title {
    margin: 0;
  }
  .main .projects__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main .projects__list {
    margin-left: 0;
    position: relative;
  }
  .main .projects__item {
    width: auto;
    margin-right: 0;
  }
  .main .projects__item img {
    width: auto;
    height: auto;
  }
  .main .section__sub-title {
    font-size: 14px;
  }
}

@media screen and (max-device-width: 425px) {
  .header__device-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    display: none;
  }
  .header__nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
  }
  .header__nav svg {
    width: 50px;
    height: 50px;
  }
  .header__nav-close {
    position: absolute;
    right: -3px;
    top: -10px;
  }
  .header__nav-mini {
    cursor: pointer;
    display: none;
  }
  .header__nav-mini span {
    background-color: #212529;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    display: block;
  }
  .header__nav-mini span:last-child {
    margin-bottom: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
  }
  .header__list__item {
    margin-right: 0;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  .main__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__right {
    width: 100%;
  }
  .main__left {
    width: 100%;
    text-align: center;
  }
  .main .profil__img {
    background-size: cover;
  }
  .main__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main__btnWrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main__btn {
    border: 1px solid black;
    margin-right: 0;
  }
  .main__btn a {
    font-size: 14px;
    line-height: 10px;
  }
  .main__desc {
    font-size: 16px;
    line-height: 1.6;
  }
  .main .trusted-by__title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .main .trusted-by__list {
    margin-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .trusted-by__item {
    margin-right: 0;
  }
  .main .services__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main .services__sub-title {
    margin-top: 80px;
  }
  .main .services__content {
    padding-top: 37px;
  }
  .main .services__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .services__items {
    width: 100%;
    margin-top: 5px;
  }
  .main .services__item-left {
    max-width: 100%;
  }
  .main .projects__carusel {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .main .projects__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .main .projects__sub-title {
    margin: 0;
  }
  .main .projects__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main .projects__list {
    margin-left: 0;
    position: relative;
  }
  .main .projects__item {
    width: auto;
    margin-right: 0;
  }
  .main .projects__item img {
    width: auto;
    height: auto;
  }
  .main {
    position: relative;
  }
  .main .blogs__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .blogs__left {
    width: 90%;
    margin: 0 auto;
  }
  .main .blogs__right {
    width: 90%;
    margin: 0 auto;
  }
  .main .blogs__title {
    font-size: 25px;
    line-height: 25px;
  }
  .main .blogs__date {
    font-size: 14px;
  }
  .main .blogs__article {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.6;
  }
  .main .blogs__btn-view {
    font-size: 14px;
  }
  .main .blogs .wrap__btn-view {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */