@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a{
    text-decoration: none;
    color: inherit;
}
.wrapper {
    max-width: 1214px;
    margin: 0 auto;
    position: relative;
}
.header {
    padding-top: 10px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 28px;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        list-style-type: none;
        &__item {
            margin-right: 40px;
            cursor: pointer;
            a {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-decoration: none;
                color: black;
            }
        }
    }
}

.main {
    padding-top: 60px;
    width: 100%;
    position: relative;
    display: flex;
    &__left {
        width: 50%;
        color: black;
        &-color {
            color: #ff8a56;
        }
    }
    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 82px;
        letter-spacing: 2px;
    }

    &__desc {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: #666666;
    }
    &__btnWrap {
        display: flex;
        align-items: center;
        margin-top: 38px;
    }
    &__btn {
        display: block;
        padding: 17px 30px;
        margin-right: 40px;
        cursor: pointer;
        color: black;
        transition-duration:.5s;
        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
        }

    }
    &__btn:hover{
        color: white;
        background-color: black;
    }

    &__right {
        width: 50%;
        position: relative;
        
         }
         .profil__img{
            margin: 0 auto;
            position: relative;
            width: 500px;
            height: 595px;
            display: block;
            background: url(/images/portfolio.png);
            background-repeat: no-repeat;
   
        }
}
